<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <header>
                <!-- контейнер с логотипом и меню -->
            <div class="Logo-menu">
              <!-- Логотип -->
            <div class="Logo-img">
            <img src="assets/img/logo.png">
            </div>
            <!-- Меню -->
            <div class="Menu">
              <ul>
                <li class="menu-t"><a href="/home">ABOUT US</a></li>
                <li class="menu-t"> <a href="/home#Commentar">WRITE COMMENT</a></li>
                <li class="menu-t"><a href="/comment">COMMENTS</a></li>
              </ul>
            </div>
            </div>
              </header>
</body>
</html>
<router-outlet></router-outlet>