<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home page</title>
</head>
<body>
  

  <section>
    <!-- Текст с информацией  -->
    <div class="Text-Info">
        <H1>Lorem Ipsum is simply<br> dummy text of the printing <br>
        and typesetting idustry</H1>
        </div>
    
      </section>
      <!-- Фото Демонстрация  -->
        <section>
        <div class="Image-company">
            <img  src="assets/img/Layer.png">
        </div>
      </section>
      <!-- Информация о компании -->
      <section>
        <div class="info-about-commpany">
         <div class="info-commpany">
          <div class="Logotip">
              <img class='img' src="assets/img/Vector Smart Object11.png">
              <h2>Who we are </h2>
              <ul>
                <li>it is a long established fact that a reader will be distracted</li>
                <li> The readable content of a page when looking at its layout</li>
                <li>The point of using Lorem Ipsum</li>
                <li> As opposed to using `Content here, content here`</li>
              </ul>
          </div>
         </div>
         <div class="info-commpany">
            <div class="Logotip">
                <img class='img' src="assets/img/Vector Smart Object.png">
                <h2>What we do </h2>
                <ul>
                  <li>Many desktop publishing packages and web page</li>
                  <li>There are many variations of passages Lorem Ipsum available, but the majority have</li>
                  <li>Various versions have evolved over the years, sometimes by accident</li>
                  
                </ul>
              </div>
         </div>
         <div class="info-commpany">
            <div class="Logotip">
                <img class='img' src="assets/img/Vector Smart Object6.png">
                <h2>Technology </h2>
                <ul>
                  <li>The point of using Lorem Ipsum</li>
                  <li>As opposed to using `Content Ipsum is not simply random text`</li>
                  <li>A Latin professor at Hampden-Sydney-College in Virginia</li>
                  <li>Many desktop publishing packages and web page</li>
                  
                  
                </ul>
              </div>
         </div>
        </div>
        
    </section>
    <!-- Коментарии -->
    <footer>
      <div class="Commet-div">
        <div class="Write-comment">
          <H1 class="Com">Write <br> comment
            <div class="line">
                <hr>
            </div></H1>
          
          <div id="Commentar">
              
              <input id="Title" type="text" placeholder="Title">
              <textarea name="" id="Your-comment" cols="30" rows="10"placeholder="Your comment"></textarea>
              
              
             <div class="btn"><a class='in-sent'href="/comment">Sent</a> </div>
          </div>
  
          <div class="line-footer">
              <hr class="line-f">
          </div>
          <!-- Завешающяя Информация -->
          <div class="mail">
              <p>mail@mail.ru</p>
              <p>+30-87419283</p>
          </div>
          <div class="other">
         <p class="other-text"> Copyright © 2019 Alex P.</p>
          </div>
          
        </div>
        
      </div>
      
    </footer>
    
</body>
</html>